div.lightbox-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;
    opacity: 0;
}
div.lightbox-bg.aberta {
    animation: lb_abrir 1s 1 forwards;
}
div.lightbox-bg.fechada {
    /* caso mude o tempo da animação,
     * altere também o setTimeout no script.js
     *
     * setTimeout(function(){
     *     lb.elem.bg.style.display = 'none';
     *     lb.escondeLoading();
     * }, 700); // <<<<<<<<<<<<<<<<<<<<<
     ************************************************/
    animation: lb_fechar 1s 1 forwards;
}
div.lightbox-bg > div.lightbox {
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}
div.lightbox-bg > div.lightbox > div.cabecalho {
    position: relative;
    display: block;
    padding: 10px 40px 10px 20px;
    background-color: rgb(56, 103, 214);
    color: rgb(255, 255, 255);
}
div.lightbox-bg > div.lightbox > div.cabecalho:hover {
    background-color: rgb(30, 65, 150);
}
div.lightbox-bg > div.lightbox > div.cabecalho > span {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
}
div.lightbox-bg > div.lightbox > div.cabecalho > div.btn-fechar {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
}
div.lightbox-bg > div.lightbox > div.cabecalho > div.btn-fechar > img {
    width: 18px;
    height: 18px;
}
div.lightbox-bg > div.lightbox > div.cabecalho > div.btn-fechar:hover > img {
    transform: scale(1.2);
    opacity: 0.5;
}
div.lightbox-bg > div.lightbox > div.conteudo {
    padding: 10px;
    max-width: 100%;
}
div.lightbox-bg > div.lightbox > div.conteudo * {
    max-width: 100%;
    word-wrap: break-word;
}
div.lightbox-bg > div.lightbox > div.conteudo pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}
div.lightbox-bg > div.lightbox > div.conteudo > div.loading {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background-image: url('loading.png');
    background-position: center center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    animation: lb_loading 2s infinite linear;
}
@keyframes lb_abrir {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes lb_fechar {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes lb_loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
